@font-face {
    font-family: 'dungeonregular';
    src: url('custom-fonts/dragonlord-webfont.woff2') format('woff2'), url('custom-fonts/dragonlord-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #333333;
    --main-color: #3498db;
    --secondary-color: #2c3e50;
    --font-color: #fff;
}

body {
    background-color:var(--background-color)!important;
    color:var(--font-color)!important;
}

p, section {
    text-align: justify;
}

section > header {
    font-weight: bold;
    font-size: larger;
}

section {
    margin: 1em;
}

h1, h2, h3 {
    font-family: 'dungeonregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.menu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-item {
    width: 350px;
}

.menu-item:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2), 0 4px 20px 0 rgba(255, 255, 255, 0.19);
}